@import 'dragula/dist/dragula.css';

body {
    .badge {
        white-space: normal !important;
        text-align: left;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        z-index: 9999;
    }

    .dropdown-menu.border-0.show.dropdown-menu-end.py-0 {
        z-index: 999;
    }
    #adblock.bottom-0.end-0 {
        bottom: 75px !important;
    }

    &.KanbanPage {
        .tasks .card {
            cursor: -webkit-grab;
            cursor: grab;
        }
    }
    #map {
        min-height: 400px;
    }

}

mapbox-search-listbox {
    z-index: 9999999 !important;
    div {
        position: relative !important;
        z-index: 99999999 !important;
        div {
            position: relative !important;
            z-index: 999999999 !important;
        }
    }
}
