body {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        z-index: 9999;
    }
    .dropdown-menu.border-0.show.dropdown-menu-end.py-0 {
        z-index: 999;
    }

    main {
        margin: 50px 0;
    }

    #mainNav {
        background-color: #FFFFFF;

        .navbar-brand {
            color: #000000;
        }

        .nav-link {
            color: #000000;
            border-bottom: none;

            &:hover {
                color: #222222;
            }

            &:active {
                color: #111111;
            }
        }

        .nav-link.active {
            color: #000000;
            outline: none;
            border-bottom: 0.25rem solid #000000;
        }
    }
}


@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;;
        transition: background-color 0.3s ease-in-out;
    }
}
